<h1> Welcome to Innuendo! </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'chat:login' %}" method = "post">
	{% csrf_token %}
	Username: <input type="text" name="username"/> <br>
	Password : <input type="password" name="password"/> <br>

	<input type="submit" value="LOGIN"/>
</form>

<br><br>

<form action="{% url 'chat:register' %}" method = "post">
	{% csrf_token %}

	Username: <input type="text" name="username"/><br>
	First name: <input type="text" name="first_name"/><br>
	Last name: <input type="text" name="last_name"/><br>
	Email: <input type="text" name="email"/><br>
	Password: <input type="password" name="password"/><br>
	Password again: <input type="password" name="passwordagain"/><br>

	<input type="submit" value="REGISTER"/>
</form>